.logo_image{
    display: flex;
    width: 100%;
    height: 210px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.image{
    width: 200px;
    height: 200px;
}

.logo_image img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.41));
}

.logo_image img:hover{
    /* filter: drop-shadow(0 4px 8px rgba(92, 153, 112, 0.406)); */
    filter: drop-shadow(0 4px 8px rgba(0, 255, 229, 0.406));
}

.tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag h2{
    margin: 0px 0px;
    background-color: #f78089;
    color: transparent;
    background-image: linear-gradient(90deg,#f45461,#1d8666);
    /* background: linear-gradient(to right, #ff4500, #ff8c00); */
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-size: 2.5rem;
}

.tag h4{
    margin-top: 0%;
    /* padding-top: 0%; */
}
.Barley{
    height: 300px;
    width: 300px;
}
.Barley img{
    height: 100%;
    width: 100%;
}