.contactme {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contactme h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contactme p {
    margin-bottom: 20px;
  }
  
  .contactme form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .contactme form label {
    margin-bottom: 5px;
  }
  
  .contactme form input,
  .contactme form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .contactme form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contactme .companyinfo {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
  }
  
  .contactme .companyinfo h2 {
    margin-bottom: 10px;
  }
  
  .contactme .companyinfo p {
    margin-bottom: 15px;
  }

  .mapandcont{
    display: flex;
    margin-left: 10%;
  }

  .contactsec{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    margin-left: 10%;
  }

  .contactsec form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .contactsec form label {
    margin-bottom: 5px;
  }
  
  .contactsec form input,
  .contactsec form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .contactsec form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  